<nz-list nzGrid>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzXXl]="8" [nzXl]="6" [nzLg]="6" [nzMd]="6" [nzSm]="12" [nzXs]="24" *ngFor="let item of cards; let i = index">
      <nz-list-item>
        <nz-card  nzHoverable [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
          <span>{{item.id}} {{item.name}}</span>
          <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
            <nz-card-meta
              [nzAvatar]="avatarTemplate"
              nzTitle="Card title"
              nzDescription="This is the description"
            ></nz-card-meta>
          </nz-skeleton>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
        </ng-template>
        <ng-template #avatarTemplate>
          <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #actionSetting>
          <!--<i nz-icon nzType="setting" (click)="ClickCard(i, 1)"></i>-->
        </ng-template>
        <ng-template #actionEdit>
          <!--<i nz-icon nzType="edit" (click)="ClickCard(i, 2)"></i>-->
        </ng-template>
        <ng-template #actionEllipsis>
          <i nz-icon nzType="ellipsis" (click)="removeItem(item.id)"></i>
        </ng-template>
      </nz-list-item>
    </div>
  </div>
</nz-list>
<button nz-button>load more</button>
