<nz-footer class="footer">
  <div class="footer-heart">
    Made with
    <div style="margin-left: 12px;margin-right: 12px;">
      <i class="heart" style="font-size: 24px" nz-icon nzSpin="false" nz-button [nzType]="'heart'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#fa0000'"></i>
    </div>
    by
    <a href="#">Barvadari</a>
  </div>
</nz-footer>
