.footer {
  height: 25px;
  display: flex;
  flex: auto;
  justify-content: center;
  background: white;
  /*padding: 25px;*/
  align-items: center;
  border-top: 1px solid #edf2f9;
  max-height: 25px;
}

.footer-heart {
  text-align:center;
  display: flex;
  flex: 0 0 auto;
}

.footer-heart a{border-bottom: 1px solid #453886;color: #453886; text-decoration: none; margin-left: 2px}

.footer-heart a:hover{color:#2196f3; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  /*padding-bottom: .3em;*/
  text-decoration: none;}

.emoji{vertical-align: middle;}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.heart {
  animation: heartbeat 1s infinite;
}
