<div class="header">
    <div [class.isFolded]="isCollapsed" class="logo">
      <a href="#" *ngIf="!isCollapsed">
        <img src="https://enlink.themenate.net/assets/images/logo/logo.png" alt="">
      </a>
      <a href="#" *ngIf="isCollapsed">
        <img src="https://enlink.themenate.net/assets/images/logo/logo-fold.png" alt="">
      </a>
    </div>
    <div class="nav-wrap">
      <ul class="nav-left">
        <li><i
          class="trigger"
          nz-icon
          nz-button
          nzTheme="outline"
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="toggleFold()"
        ></i></li>
      </ul>
      <ul class="nav-right" style="cursor: pointer">
        <li>
          <nz-avatar nz-dropdown [nzDropdownMenu]="menu" [nzText]="userValue | slice:0:1 | uppercase" [ngStyle]="{ 'background-color': avatarColor }" nzSize="large"></nz-avatar>
        </li>
      </ul>
      <nz-dropdown-menu style="width: 200px; height: 100px" #menu="nzDropdownMenu">
        <ul nz-menu>
          <li routerLink="/profile" nz-menu-item><i style="margin-right: 5px" nz-icon nzType="profile" nzTheme="outline"></i> Profile</li>

          <li (click)="logout()" nz-menu-item><i style="margin-right: 5px" nz-icon nzType="logout" nzTheme="outline"></i> Logout</li>
<!--          <li nz-menu-divider></li>
          <li nz-menu-item nzDisabled>3rd menu item（disabled）</li>-->
        </ul>
      </nz-dropdown-menu>
    </div>
</div>

