.header {
  background: #fff;
  height: 64px;
  border-bottom: 1px solid #edf2f9;
  /*position: fixed;*/
  top: 0;
  margin: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
}

.logo {
  border-right: 1px solid #edf2f9;
  /*height: 47px;*/
  /*width: 230px;*/
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.header .nav-wrap {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.logo:not(.isFolded) {
  width: 230px;
}

.isFolded {
  width: 80px;
}

.header .nav-wrap .nav-left, .header .nav-wrap .nav-right {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  /*padding: 0 24px;*/
  cursor: pointer;
  transition: color 0.3s;
}
