// WRAPPER

.wrapper {
  height: 100vh;
}

// HEADER
/*.header {
  color: black;
  background: white;
  height: 48px;
  padding: 0;
  justify-content: center;
  position: initial;
  z-index: 999999;
  width: auto;
  border-bottom: 1px solid #edf2f9;
}*/

/*.logo {
  border-right: 1px solid #edf2f9;
  height: 47px;
  width: 256px;
  background: white;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}*/

/*.logo:not(.isFolded) {
 width: 256px;
}

.isFolded {
  width: 80px;
}*/



// SIDE NAV MENU
/*[nz-menu] {
  line-height: 64px;
  height: calc(100vh - 48px);
  overflow: auto;
}

[nz-menu]::-webkit-scrollbar {
  display: none;
}*/


// HERE IS WHERE THE ISSUE IS
nz-content {
  margin: 0px;
  // WE NEED THE OVERFLOW SO THAT ONLY THE CONTENT IS SCROLLABLE AND THE REST OF THE ELEMENTS ARE NOT
  overflow: auto;
}

.inner-content {
  /*margin-top: 24px;*/
  /*padding: 24px;*/
  background: #fff;
  text-align: center;
}

ul {
  /*padding-top: 45px;*/
}

/*.footer {
  height: 25px;
  display: flex;
  flex: auto;
  justify-content: center;
  background: white;
  !*padding: 25px;*!
  align-items: center;
  border-top: 1px solid #edf2f9;
  max-height: 25px;
}*/

nz-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
