<nz-layout class="wrapper">
  <!-- HEADER -->
  <app-header [isCollapsed]="isCollapsed">
  </app-header>

  <nz-layout class="content">
    <!-- SIDE NAVIGATION -->
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed"
              (nzCollapsedChange)="isCollapsed" nzWidth="230px" [nzBreakpoint]="'lg'">
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li [nzMatchRouter]="true" routerLink="/dashboard" nz-menu-item  nz-tooltip nzTooltipPlacement="right"  [nzTooltipTitle]="isCollapsed ? 'Dashboard' : ''">
          <i nz-icon nzType="dashboard"></i>
          <span>Dashboard</span>
        </li>
        <li [nzMatchRouter]="true" routerLink="/events" nz-menu-item nz-tooltip nzTooltipPlacement="right"  [nzTooltipTitle]="isCollapsed ? 'Events' : ''">
          <i nz-icon nzType="ordered-list"></i>
          <span>Events</span>
        </li>
      </ul>
    </nz-sider>


    <!--<nz-divider></nz-divider>-->

    <!-- CONTENT -->
    <!-- ----------------------------------------------------------------------------- -->
    <!-- HERE IS THE cdkScrollable DIRECTIVE IN ORDER TO SOLVE THE ISSUE WITH THE AUTOCOMPLETE BOX -->
    <!--<perfect-scrollbar>-->
    <nz-content class="wrapper">
      <perfect-scrollbar>
        <div class="inner-content">
          <nz-breadcrumb class="app-breadcrumb" [nzAutoGenerate]="true" nzSeparator="/">
          </nz-breadcrumb>
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </perfect-scrollbar>
    </nz-content>
    <!--</perfect-scrollbar>-->
  </nz-layout>
</nz-layout>
