// WRAPPER
.wrapper {
  height: 100%;
  background: white;
  overflow: auto;
}

[nz-menu] {
  line-height: 64px;
  height: calc(100vh - 64px);
  overflow: auto;
}

[nz-menu]::-webkit-scrollbar {
  display: none;
}

// HEADER
/*.header {
  color: black;
  background: white;
  height: 48px;
  padding: 0;
  justify-content: center;
  position: initial;
  z-index: 999999;
  width: auto;
  border-bottom: 1px solid #edf2f9;
}*/

/*.logo {
  border-right: 1px solid #edf2f9;
  height: 47px;
  width: 256px;
  background: white;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}*/

/*.logo:not(.isFolded) {
 width: 256px;
}

.isFolded {
  width: 80px;
}*/



// SIDE NAV MENU
/*[nz-menu] {
  line-height: 64px;
  height: calc(100vh - 48px);
  overflow: auto;
}

[nz-menu]::-webkit-scrollbar {
  display: none;
}*/


// HERE IS WHERE THE ISSUE IS
nz-content {
  margin: 0px;
  // WE NEED THE OVERFLOW SO THAT ONLY THE CONTENT IS SCROLLABLE AND THE REST OF THE ELEMENTS ARE NOT
  overflow: auto;
}

.inner-content {
  max-width: 100%;
  /*display: grid;*/
  background: #ffffff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 49px);
  text-align: center;
  width: 100%;
/*  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;*/
}

ul {
  /*padding-top: 45px;*/
}

/*.footer {
  height: 25px;
  display: flex;
  flex: auto;
  justify-content: center;
  background: white;
  !*padding: 25px;*!
  align-items: center;
  border-top: 1px solid #edf2f9;
  max-height: 25px;
}*/

.app-breadcrumb {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 24px;
}

