.layout {
  min-height: 100vh;
}

.logo {
  width: 62px;
  display: flex;
  float: left;
  position: absolute;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  /* padding-left: 20px; */
  align-items: center;
}

nz-header {
  position: fixed;
  width: 100%;
  /*margin: 0 16px;*/
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  /*padding: 0 50px;*/
  margin-top: 64px;
}

.inner-content {
  margin-top: 24px;
  background: #fff;
  padding: 24px;
  min-height: 380px;
}

nz-footer {
  text-align: center;
  background: none;
}

.ant-layout-header {
  background: none;
  padding: 0;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}
