<perfect-scrollbar>
  <nz-layout class="layout">
    <nz-header>
      <div class="logo">LOGO</div>
      <ul nz-menu nzTheme="light" nzMode="horizontal">
        <li routerLink="/" nz-menu-item>
          <i nz-icon nzType="home"></i>
          <span>Home</span>
        </li>
        <li routerLink="/about" nz-menu-item>
          <i nz-icon nzType="info-circle"></i>
          <span>About</span>
        </li>
        <li routerLink="/login" nz-menu-item>
          <i nz-icon nzType="login"></i>
          <span>Login</span>
        </li>
      </ul>
    </nz-header>

    <nz-content>
      <div class="inner-content">Content

      </div>

      <div class="inner-content">Content

      </div>
    </nz-content>
    <nz-footer>©2021</nz-footer>
  </nz-layout>
</perfect-scrollbar>
