<nz-result nzStatus="403" nzTitle="401" nzSubTitle="Sorry, you are not authorized to access this page.">
  <div nz-result-extra>
    <button routerLink="/dashboard" nz-button nzType="primary">Back Home</button>
  </div>
</nz-result>
