* {
  font-family: 'Poppins', sans-serif;
}

.ant-layout-sider-trigger {
  background: white;
  height: 49px;
  color: black;
  border-right: 1px solid #edf2f9;
  border-top: 1px solid #edf2f9;
}

/*nz-content::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

nz-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(112, 210, 255);
}

nz-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}*/


.apexcharts-menu {
  display: flex;
  flex: 1 1 auto;
}

.ant-input-affix-wrapper > input.ant-input {
  background: none;
}

/*.ant-input-affix-wrapper {
  background: none;
}*/

/*perfect-scrollbar>.ps {
  display: flex!important;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  position: static;
  width: 100%;
}*/
