<nz-list nzGrid>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzXXl]="8" [nzXl]="6" [nzLg]="10" [nzMd]="4" [nzSm]="12" [nzXs]="24">
      <nz-list-item>
        <nz-card nzHoverable>
          <nz-statistic
            [nzValue]="(9.3 | number: '1.0-2')!"
            [nzTitle]="'Idle'"
            [nzPrefix]="prefixTplTwo"
            [nzSuffix]="'%'"
            [nzValueStyle]="{ color: '#CF1322' }"
          ></nz-statistic>
          <ng-template #prefixTplTwo><i nz-icon nzType="arrow-down"></i></ng-template>
        </nz-card>
      </nz-list-item>
    </div>
    <div nz-col [nzXXl]="8" [nzXl]="6" [nzLg]="10" [nzMd]="4" [nzSm]="12" [nzXs]="24">
      <nz-list-item>
        <nz-card nzHoverable>
          <nz-statistic
            [nzValue]="(9.3 | number: '1.0-2')!"
            [nzTitle]="'Idle'"
            [nzPrefix]="prefixTplTwo"
            [nzSuffix]="'%'"
            [nzValueStyle]="{ color: '#CF1322' }"
          ></nz-statistic>
          <ng-template #prefixTplTwo><i nz-icon nzType="arrow-down"></i></ng-template>
        </nz-card>
      </nz-list-item>
    </div>
    <div nz-col [nzXXl]="8" [nzXl]="6" [nzLg]="10" [nzMd]="4" [nzSm]="12" [nzXs]="24">
      <nz-list-item>
        <nz-card nzHoverable>
          <nz-statistic
            [nzValue]="(11.2 | number: '1.0-2')!"
            [nzTitle]="'Active'"
            [nzPrefix]="prefixTplOne"
            [nzSuffix]="'%'"
            [nzValueStyle]="{ color: '#3F8600' }"
          ></nz-statistic>
          <ng-template #prefixTplOne><i nz-icon nzType="arrow-up"></i></ng-template>
        </nz-card>
      </nz-list-item>
    </div>
    <div nz-col [nzXXl]="8" [nzXl]="6" [nzLg]="12" [nzMd]="6" [nzSm]="12" [nzXs]="24">
      <nz-list-item>
        <nz-card nzHoverable>
          <nz-statistic
            [nzValue]="(11.2 | number: '1.0-2')!"
            [nzTitle]="'Active'"
            [nzPrefix]="prefixTplOne"
            [nzSuffix]="'%'"
            [nzValueStyle]="{ color: '#3F8600' }"
          ></nz-statistic>
          <ng-template #prefixTplOne><i nz-icon nzType="arrow-up"></i></ng-template>
        </nz-card>
      </nz-list-item>
    </div>
  </div>
</nz-list>

<nz-list nzGrid>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXs]="24">
      <nz-list-item>
        <nz-card>
          <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [dataLabels]="chartOptions.dataLabels"
              [grid]="chartOptions.grid"
              [stroke]="chartOptions.stroke"
              [title]="chartOptions.title"
            ></apx-chart>
          </div>
        </nz-card>
      </nz-list-item>
    </div>

    <div nz-col [nzXXl]="12" [nzXl]="12" [nzLg]="10" [nzMd]="12" [nzSm]="12" [nzXs]="24">
      <nz-list-item>
        <nz-card nzBordered>
          <div id="chart2">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [dataLabels]="chartOptions.dataLabels"
              [grid]="chartOptions.grid"
              [stroke]="chartOptions.stroke"
              [title]="chartOptions.title"
            ></apx-chart>
          </div>
        </nz-card>
      </nz-list-item>
    </div>
  </div>
</nz-list>
<nz-card>
  <div id="chart3">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [stroke]="chartOptions.stroke"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>
</nz-card>
